.invoice {
  display: flex;
  padding: 25px 0;

  &__left {
    width: 24%;
    .active {
      background-color: #e8f0ff;
      color: $color-blue;
      font-weight: bold;
      border-radius: 0 20px 20px 0;
    }
  }
}
